html
head
  link(href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css")
  link(href="./../../css/main.css" rel="stylesheet" type="text/css")
  link(href="./../../css/photo.css" rel="stylesheet" type="text/css")
  script(src="/socket.io/socket.io.js")
  script(src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js")
  title Personal info
body
  div(class="mui-appbar")
     table(width="100%")
      tr(style="vertical-align:middle;")
        td( class="mui--appbar-height")
        td(class="mui--appbar-height" align="right")
          a(href="/") Home
          a(href="/text") Text
          a(href="/chat") Chat
          a(href="/users") User list
         
  section
    h3(class="header-text")=`Info user:  ${data.loginName}`
    ul( class="mui-tabs__bar")  
      li(class="mui--is-active")
        a(data-mui-toggle="tab" data-mui-controls="pane-api-1") Personal info
      li
        a(data-mui-toggle="tab" data-mui-controls="pane-api-2") User evolution
      li
        a(data-mui-toggle="tab" data-mui-controls="pane-api-3") User photo

    div( class="mui-tabs__pane mui--is-active" id="pane-api-1") 
      form(class="mui-form" id="info-form" class="mui-panel evolution-form")
        <ul class="mui-tabs__bar plane-header">
          <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="step-1">Full Name</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="step-2">Day of Birth</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="step-3">Nationality</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="step-4">contacts</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="step-5">Passport Details</a></li>
        </ul>  
        div( class="mui-tabs__pane mui--is-active" id="step-1")
          -
            firstStp = [{name:'firstName', dataSource: data.personalInfo ?  data.personalInfo.firstName : '' },
              {name:'lastName', dataSource: data.personalInfo ? data.personalInfo.lastName : ''}, 
              {name:'givenName',dataSource: data.personalInfo ? data.personalInfo.givenName : '' },
              {name:'surname', dataSource: data.personalInfo ? data.personalInfo.surname : ''}]
          each fild in firstStp
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name=fild.name value=fild.dataSource )
              label=fild.name
              
        div( class="mui-tabs__pane" id="step-2")
          -
            secondStp = [{name:'dob', dataSource: data.personalInfo ? data.personalInfo.dob : ''}] 
          each fild in secondStp
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name=fild.name value=fild.dataSource )
              label=fild.name 

        div( class="mui-tabs__pane" id="step-3") 
          -
            thirdStep = [{name:'nationality', dataSource: data.personalInfo ? data.personalInfo.nationality : ''}]
          each fild in thirdStep
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name=fild.name value=fild.dataSource )
              label=fild.name

        div( class="mui-tabs__pane" id="step-4") 
          -
            fourthStep = [{name:'phoneNumber', dataSource: data.personalInfo ? data.personalInfo.phoneNumber : ''},
              {name: 'homeAddress', dataSource: data.personalInfo ? data.personalInfo.homeAddress : ''},
              {name: 'city', dataSource: data.personalInfo ? data.personalInfo.city : ''}, 
              {name: 'postCode',dataSource: data.personalInfo ? data.personalInfo.postCode : ''},  
              {name:'country',dataSource: data.personalInfo ? data.personalInfo.country : ''}]
          each fild in fourthStep
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name=fild.name value=fild.dataSource )
              label=fild.name    

        div( class="mui-tabs__pane" id="step-5") 
          -
            fifthStep = [{name:'passportStatus',dataSource: data.personalInfo ? data.personalInfo.passportStatus : ''},
            {name:'passportNumber',dataSource: data.personalInfo ? data.personalInfo.passportNumber : ''}, 
            {name:'passportExpectedDate',dataSource: data.personalInfo ? data.personalInfo.passportExpectedDate : ''}, 
            {name:'passportExpiryDate',dataSource: data.personalInfo ? data.personalInfo.passportExpiryDate : ''}]
          each fild in fifthStep
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name=fild.name value=fild.dataSource )
              label=fild.name    
        div(class="plane-footer")    
          button(type="submit" class="mui-btn mui-btn--raised") Save
          button( class="mui-btn mui-btn--primary" id="next-btn") Next
    //- evo
    div( class="mui-tabs__pane " id="pane-api-2")
      div(class= "mui-panel evolution-form") 
        ul(class="mui-tabs__bar plane-header")
          li(class="mui--is-active")
            a(data-mui-toggle="tab" data-mui-controls="hobbies") Hobbies
          li
            a(data-mui-toggle="tab" data-mui-controls="courses") Courses
          li
            a(data-mui-toggle="tab" data-mui-controls="skills") Skills
        
        div( class="mui-tabs__pane  mui--is-active" id="hobbies")
          if (data.evolution && data.evolution.hobbies.length >0)
            ul
              table(class="mui-table mui-table--bordered")
                thead
                  tr
                    th Hobie Name
                    th Time Started
                    th Keep On Doing
                tbody
                  each hobie in data.evolution.hobbies
                    tr
                      td=hobie.name
                      td=hobie.timeStarted
                      td=hobie.isKeepOnDoing === "true"?'yes':'no'
          form(action="#" id="hobby-form" class="evolution-form") 
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name="name" value="")
              label hobbie name
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name='timeStarted' value="")
              label timeStarted
            div(class="mui-checkbox")
                label
                  input(type="checkbox" name="isKeepOnDoing" value=false checked=false )
                  span isKeepOnDoing  
            button(type="submit" class="mui-btn mui-btn--raised") ADD  

        div( class="mui-tabs__pane " id="courses")
          if (data.evolution && data.evolution.courses.length > 0)
              table(class="mui-table mui-table--bordered")
                thead
                  tr
                    th Course Name
                    th Time Started
                    th Time End
                    th Keep On Doing
                    th You Like It
                tbody
                  each course in data.evolution.courses
                    tr
                      td=course.name
                      td=course.timeStarted
                      td=course.timeEnd
                      td=course.isKeepOnDoing === "true" ?'yes': 'no'
                      td=course.doYouLikeIt  === "true"?'yes': 'no'
          form(action="" id="course-form" class="evolution-form") 
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name="name" value="")
              label Cours name
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name='timeStarted' value="")
              label time Started
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name='timeEnd' value="")
              label time End
            div(class="mui-checkbox")
              label
                input(type="checkbox" name="isKeepOnDoing"   checked=false)
                span isKeepOnDoing
            div(class="mui-checkbox")
              label
                input(type="checkbox" name="isKeepOnDoing"   checked=false)
                span doYouLikeIt  
            button(type="submit" class="mui-btn mui-btn--raised") ADD     
          
                              
        div( class="mui-tabs__pane " id="skills")
          if (data.evolution && data.evolution.skills.length > 0)
            table(class="mui-table mui-table--bordered")
                thead
                  tr
                    th Skill name
                    th Skill level
                    th Skill improvements
                tbody
                  each skill in data.evolution.skills
                    
                    tr
                      td=skill.name
                      td=skill.level
                      td=skill.improvements
          form(action="" id="skills-form" class="evolution-form")
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name="name" value="")
              label Skill name
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name="level" value="")
              label Skill level
            div(class="mui-textfield mui-textfield--float-label")
              input(type="text" name="improvements" value="")
              label Skill improvements
            button(type="submit" class="mui-btn mui-btn--raised btn-right") ADD 
        div(class="plane-footer")    
          button( class="mui-btn mui-btn--primary" id="next-btn-evo") Next     
    
    div( class="mui-tabs__pane" id="pane-api-3")
      div(class="add-img-form mui-panel")
        div(class="wrap-img-big")         
          div(class="img-big")
            img(src="./../../img/nophoto.png", alt="" id="img-prw")
        form(class="mui-form" id="img-form")
          legend(id="form-legend") 
          div(class="mui-textfield mui-textfield--float-label")
            input(type="text" name="newName")
            label Change file name
          div(class="mui-textfield mui-textfield--float-label")
            input(type="text" name="altText")
            label Add alt text
          div(class="in-line")  
            div(class="mui-textfield mui-textfield--float-label")
              input(type="number" name="imgWidth")
              label Img width
            div(class="mui-textfield mui-textfield--float-label")
              input(type="number" name='imgHeigh')
              label Img heigth
          div(class="in-line")  
          div(class="mui-textfield mui-textfield--float-label")
            input(type="number" name="quality" )
            label Quality
          div(class="mui-checkbox")
            label
              input(type="checkbox" name="greyscale" value="true" )
              span In greyscale   
          button(type="submit" class="mui-btn mui-btn--raised") Save


        div(class="img-prw")
          ul(class="img-list")
            li(class="photo-upload") 
              label(for="uploadPhoto") +  
              input(type="file" name="fileUpload" id="uploadPhoto" )
            each photo in data.photo 
              li(class="with-photo" img-id=photo._id)
                img(src=`./../${photo.path}/${photo.fileName}`, alt="" id="img-prw")
                button(class="img-delete" img-id=photo._id) +


  

      
  script(src="./../../js/userOne.js")                